/* ------------------ */
/* Reset              */
/* ------------------ */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Body setup */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* ------------------ */
/* Utility Clasess    */
/* ------------------ */

h2 {
  margin-top: 1.5rem;
}

h3 {
  letter-spacing: 1.2px;
  margin: 1.5rem 0 1rem;
}

p {
  letter-spacing: 1.05px;
}

.icon {
  padding-right: 5px;
}

.h1 {
  /* font-family: "Roboto Serif", serif; */
  font-size: 3rem;
  font-weight: bold;
}

.flex {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

.container {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
}

.side-padding {
  padding-inline: 6rem;
}

.header-img {
  position: relative;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(61, 53, 53, 0.5)
    ),
    url("img/bghome.jpg");
  height: 70vh;
  background-size: cover;
  background-position: center;
  filter: grayscale(80%);
}

.header-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -0%);
  text-align: center;
  font-size: 30px;
  line-height: 2;
  color: #fff;
  /* padding: 0 1rem; */
}

.header-text h1 {
  font-size: 50px;
  white-space: nowrap;
}

.img-1 {
  background-image: url("img/fenster.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20rem;
}

.img-2 {
  background-image: url("img/rollo.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20rem;
}

.img-3 {
  background-image: url("img/shieber.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20rem;
}

.img-4 {
  background-image: url("img/holztur.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 20rem;
}

.bodenbelag-img {
  max-height: 30rem;
}

.trockenbau-img {
  max-height: 30rem;
}

.footer {
  background-color: #555;
  color: #fff;
  padding: 1rem 0;
}

.turen {
  text-align: center;
}

.ft {
  font-size: 50px;
  margin: 0 0 3rem;
  font-weight: bold;
}

.hr {
  margin: 0 16rem;
  border: 0.5px solid black;
}

.hr-footer {
  border: 2px solid rgb(255, 255, 255);
  width: 20rem;
  margin-top: -6px;
}

.telefon:link {
  text-decoration: none;
}

.telefon:link {
  text-decoration: none;
}

/* ------------------ */
/* Media Queries      */
/* ------------------ */
@media screen and (max-width: 850px) {
  .header-text {
    font-size: 30px;
    padding: 0 2px;
  }

  .header-text h1 {
    font-size: 40px;
    padding: 0 2px;
  }

  .side-padding {
    padding-inline: 1rem;
  }
  /* 
  .description {
    padding: 0 2.5rem;
  } */

  .turen {
    margin-bottom: 1rem;
  }

  .ft {
    font-size: 32px;
    white-space: nowrap;
  }

  .h1 {
    font-size: 2.5rem;
  }

  .nav-link {
    font-size: 16px;
    padding: 0.2rem;
  }

  .footer {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .h1 {
    font-size: 28px;
  }

  .nav-link {
    font-size: 12px;
    padding: 0;
  }

  .header-text {
    font-size: 20px;
    padding: 0 2px;
  }

  .header-text h1 {
    font-size: 30px;
    padding: 0 2px;
  }

  .ft {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  .p {
    font-size: 12px;
    padding: 0 1rem;
  }

  .p-bt {
    font-size: 12px;
  }
}
